.blog p, .blog ul, .blog ol {
  scroll-snap-align: start;
}

.blog footer::after {
  scroll-snap-align: end;
}

.CTA.read-more {
  background: white;
  color: black!important;
  box-shadow: none;
  border-radius: 30px;
  padding: 10px 30px!important;
  box-sizing: border-box;
  display: block;
  float: right;
  margin: 30px 0;
}

/** NEXUS 7 **/
@media (max-width: 601px) {
  .CTA.read-more {
    margin: 20px auto;
    float: none;
  }
}
