@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab');

pre {
  white-space: break-spaces;
  text-align: left;
  font-size: 12px;
}

body {
  background-color: #EEE;
  color: #111;
}

.App {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  text-transform: uppercase;
  margin: 100px 0;
}

h1 span {
  display: block;
}

#soon {
  font-size: 10rem;
  line-height: 6rem;
}

#my-services {
  font-size: 3.05rem;
  line-height: 5rem;
}

#your-disposal {
  font-size: 4rem;
  line-height: 2rem;
}
