@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab');
/** GENERAL **/

pre {
  white-space: break-spaces;
  text-align: left;
  font-size: 12px;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

html, body, .App {
  height: 100%;
}

body {
  background-color: #EEE;
  color: #111;
  font-size: 22px;
  display: flex;
  justify-content: center;
  padding: 60px 20px;
  max-width: 1024px;
  margin: 0 auto;
}

p {
  padding: 5px 10px;
}

ul {
  list-style-type: circle;
  margin: 0;
  padding: 0 0 0 30px;
  line-height: 40px;
}

h1 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  text-transform: uppercase;
  margin: 50px 0;
  font-size: 11vw;
}

h2 {
  margin: 80px 0 10px;
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  font-size: 5vw;
  color: #333;
}

form {
  padding: 10px;
}

input, textarea, button {
  border: none;
  padding: 10px 15px;
  margin: 5px;
  font-size: 1.5rem;
}

textarea {
  max-width: 80vw;
}

button {
  cursor: pointer;
}

.form-row {
  margin: 5px;
}

.CTA {
  background-color: #333;
  color: #EEE;
  padding: 20px 40px;
  box-shadow: rgb(0 0 0 / 25%) 10px 10px 10px 0px;
  transition: box-shadow 100ms ease-out;
  box-sizing: content-box;
}

.CTA:hover {
  box-shadow: rgb(0 0 0 / 25%) 2px 2px 3px 0px;
}

.underline {
  text-decoration: underline;
}

.no-wrap {
  white-space: nowrap;
}

.big-row {
  min-height: 100vh;
  display: flex;
  align-items: center;
  scroll-snap-align: start;
}

.big-row > * {
  width: 100%;
}

/** MAIN TITLE **/

h1#title-main span {
  display: block;
}

#soon {
  font-size: 10rem;
  line-height: 6rem;
}

#my-services {
  font-size: 3.05rem;
  line-height: 5rem;
}

#your-disposal {
  font-size: 4rem;
  line-height: 2rem;
}

/** WORDPRESS TEXT **/
.has-text-align-right {
  text-align: right;
}

.has-text-align-center {
  text-align: center;
}

/** WORDPRESS COLUMNS **/
.wp-block-columns {
  display: flex;
  column-gap: 50px;
  padding: 0 20px;
}

.wp-block-column {
  flex: 1;
}

/** SOLUTIONS **/

.solutions .solution {
  background-repeat: no-repeat;
}

.solution-design {
  background-image: url('/public/img/symbol-design.png');
  background-position: 26px 72px;
}

.solution-site {
  background-image: url('/public/img/symbol-site.png');
  background-position: 40px 91px;
}

.solution-tools {
  background-image: url('/public/img/symbol-tools.png');
  background-position: 205px 95px;
}

/** ABOUT ME **/
.about-me h1 {
  background-repeat: no-repeat;
  background-image: url('/public/img/hello.png');
  background-position: 80% 0;
}

/** IPAD PRO portrait **/
@media (max-width: 1024px) {
  .about-me h1 {
    background-position: 82% 0;
  }
}

/** IPAD AIR portrait **/
@media (max-width: 768px) {
  body {
    font-size: 20px;
  }

  ul {
    padding: 0 0 0 10px;
  }

  .wp-block-columns {
    column-gap: 20px;
    padding: 0 10px;
  }

  /** SOLUTIONS **/
  .solution-design {
    background-position: 1px 72px;
  }

  .solution-site {
    background-position: 2px 91px;
  }

  .solution-tools {
    background-position: 161px 100px;
  }

  /** ABOUT ME **/
  .about-me h1 {
    background-position: 570px 0;
  }

}

/** NEXUS 7 **/
@media (max-width: 601px) {
  body {
    font-size: 20px;
  }

  h1 {
    margin: 50px 0;
  }
  
  h2 {
    margin: 40px 0 20px;
    font-size: 8vw;
  }

  ul {
    padding: 0 0 0 100px;
  }

  input, button {
    width: 80vw;
  }

  .CTA {
    padding: 20px 15px;
  }

  /** MAIN TITLE **/
  #soon {
    font-size: 8rem;
    line-height: 4rem;
  }

  #my-services {
    font-size: 2.45rem;
    line-height: 5rem;
  }

  #your-disposal {
    font-size: 3.2rem;
    line-height: 1rem;
  }

  /** WORDPRESS COLUMNS **/
  .wp-block-columns {
    display: block;
  }

  .wp-block-columns.question-answer .wp-block-column {
    margin-top: 60px;
  }

  .wp-block-columns.question-answer .wp-block-column:last-child {
    text-align: right;
  }


  /** SOLUTIONS **/
  .solution-design {
    background-position: 146px -2px;
  }

  .solution-site {
    background-position: 159px 11px;
  }

  .solution-tools {
    background-position: 325px 15px;
  }

  /** ABOUT ME **/
  .about-me h1 {
    background-position: 445px 15px;
    background-size: 15%;
  }
}

@media (max-width: 376px) {
  body {
    font-size: 16px;
  }

  h1 {
    margin: 50px 0;
  }

  #soon {
    font-size: 4.5rem;
    line-height: 2rem;
  }

  #my-services {
    font-size: 1.37rem;
    line-height: 2.9rem;
  }

  #your-disposal {
    font-size: 1.71rem;
    line-height: 0.4rem;
  }

  h2 {
    margin: 20px 0 10px;
  }

  ul {
    padding: 0 0 0 120px;
    line-height: 30px;
  }

  /** SOLUTIONS **/
  .solution-design {
    background-position: 0 70%;
  }

  .solution-site {
    background-position: 0 85%;
  }

  .solution-tools {
    background-position: 0 80%;
  }

  /** ABOUT ME **/
  .about-me h1 {
    background-position: 90% 0;
  }
}

/** FAIRPHONE 3+ **/
@media (max-width: 361px) {
  body {
    font-size: 16px;
  }

  #soon {
    font-size: 4.5rem;
    line-height: 2rem;
  }

  #my-services {
    font-size: 1.37rem;
    line-height: 2.9rem;
  }

  #your-disposal {
    font-size: 1.8rem;
    line-height: 0.4rem;
  }

  h1 {
    margin: 25px 0;
  }

  h2 {
    margin: 20px 0 10px;
  }

  ul {
    padding: 0 0 0 120px;
    line-height: 30px;
  }

  p {
    padding: 0;
    margin: 20px 0;
  }

  /** WORDPRESS COLUMNS **/
  .wp-block-columns {
    padding: 0;
  }

  /** SOLUTIONS **/
  .solution-design {
    background-position: 0 70%;
  }

  .solution-site {
    background-position: 0 85%;
  }

  .solution-tools {
    background-position: 0 80%;
  }

  /** ABOUT ME **/
  .about-me h1 {
    background-position: 84% 0;
  }

  input, textarea, button {
    font-size: 0.8rem;
  }

  .form-row {
    margin: 0 5px;
  }
}
