.form-row {
  margin: 5px 0;
}

input, textarea, button {
  border: none;
  padding: 10px 15px;
  margin: 5px;
  font-size: 1.5rem;
}

textarea {
  max-width: 80vw;
}

button {
  cursor: pointer;
}

input.email-edited.email-not-valid {
  border-left: 5px solid #dd0505;
  padding-left: 10px;
}

/** NEXUS 7 **/
@media (max-width: 601px) {
  input, button {
    width: 80vw;
  }
}

/** FAIRPHONE 3+ **/
@media (max-width: 361px) {
  input, textarea, button {
    font-size: 0.8rem;
  }
}
